@model EZHR_Web.Models.ReportDataV

@{
    ViewBag.Title = "EZHR Incident SignIn";
}
<script
    src="https://code.jquery.com/jquery-2.2.4.min.js"
    integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44="
    crossorigin="anonymous"></script>
<script
    src="https://code.jquery.com/ui/1.11.4/jquery-ui.min.js"
    integrity="sha256-xNjb53/rY+WmG+4L6tTl9m6PpqknWZvRt0rO1SRnJzw="
    crossorigin="anonymous"></script>
<script type="text/javascript">

    function EZHR_LookupDetailOnBegin(xhr) {
        //$('#LoadCompanyDetailAndItems').attr('disabled', true);
        BeginAjaxClient(xhr);
        return true;
    };


    function FormLoadSuccess(xhr) {

    };

    $(document).ready(function () {
        $(function () {
            //var j = $.noConflict(true);
            $("#fromdate,#todate").datepicker();
        });
    });

    $(function () {

        //on change of a checkbox, fix coloring
        //$('input:checkbox[id^="i_Selected"]').change(function () {
        $('input:checkbox.lineCheckbox').change(function () {

            //$("input:checkbox[id='i_Selected']:checked").each(function () {
            $('input:checkbox.lineCheckbox:checked').each(function () {
                var lineId = $(this).data('lineitemid');
                $('#heading_' + lineId).removeClass('bg-light');
                $('#heading_' + lineId).addClass('bg-success');
                $('#collapse_' + $(this).data('lineitemid')).collapse('show');


            });

            //$("input:checkbox[id='i_Selected']:not(:checked)").each(function () {
            $("input:checkbox.lineCheckbox:not(:checked)").each(function () {
                var lineId = $(this).data('lineitemid');
                $('#heading_' + lineId).addClass('bg-light');
                $('#heading_' + lineId).removeClass('bg-success');
                $('#collapse_' + lineId).collapse('hide');
            });

        });

        $.fn.datepicker.defaults.autoclose = true;
        $.fn.datepicker.defaults.format = 'mm/dd/yyyy';

        //$('#CofCCreate').submit(function () {

        //    if ($(this).valid()) {
        //        $("#coc_submit_indicator").modal('show');
        //        $('#printcoc').prop('disabled',true);
        //    }
    });

</script>
<div class="ezhr-panel-heading-primary bg-info">
    <div class="panel-body bg-info">
        @using (Ajax.BeginForm("ProcessSignIn", "Incident", null, new AjaxOptions()
        {
            LoadingElementId = "",
            HttpMethod = FormMethod.Post.ToString(),
            OnBegin = "EZHR_LookupDetailOnBegin()",
            UpdateTargetId = "",
            OnFailure = "handleError",
            OnSuccess = "FormLoadSuccess(xhr)",
            InsertionMode = InsertionMode.Replace
        }, new { @class = "form-horizontal" }))
        {
        <div class="panel-body">

            <p class="lead">
                <h2 class="col-md-6 text-center"> LOGIN PAGE </h2>

                The information we collect from this page will be used to only contact you unless you decide to not remain Anoyoumous.
                certain types of reports require releasing your name if provided, but you will be contacted before this happens.
            </p>

            <div>
                <p class="lead">
                    @Html.LabelFor(m => m.Fname, new { @class = "control" }) @Html.TextBoxFor(m => m.Fname, new { @class = "control" })
                    @Html.LabelFor(m => m.Lname, new { @class = "control" }) @Html.TextBoxFor(m => m.Lname, new { @class = "control" })
                    
                    @Html.LabelFor(m => m.DOB, new { })@Html.TextBoxFor(m => m.DOB, new { @width = "50 px", @data_date_today_Highlight = "1", @data_provide = "datepicker", @class = "form-control datepicker", @placeholder = "mm/dd/yyyy", @id = "caller_dob" })
                </p>
            </div>
            <div>
                <p class="lead">
                    @Html.LabelFor(m => m.Phone, new { @class = "control" }) @Html.TextBoxFor(m => m.Phone, new { @id = "phone" })
                </p>
                <p class="lead">
                    @Html.LabelFor(m => m.Subscriber,new { @class = "control"}) @Html.TextBoxFor(m => m.Subscriber, new { @claqss = "control"}) 
                </p>
            </div>
            <div>
                <p class="lead">
                    Enter email address so we can contact you.
                    @Html.TextBoxFor(m => m.Email, new { @class = "control" })
                    Your Email Address will not be shared with your incident report.
                </p>
            </div>

            <div class="checkbox_scale2">
                <p class="lead">
                    @Html.CheckBoxFor(m => m.AnonReq, new {@checked = "checked" })   @Html.LabelFor(m => m.AnonReq, new { @class = "Control" })
                </p>
            </div>
        </div>
                <div class="col-md-2">
                    <p class="lead">
                        <input class="text-center" style="width: 120ex; border-color: goldenrod" id="Button1" type="submit" value="Start Report" onclick="ClickButton1">
                    </p>

              
            </div>
        }
    </div>
</div>
@* </div>
    </div>*@

